[submodule "LANCommander.Redistributables.OpenALSoft"]
	path = LANCommander.Redistributables.OpenALSoft
	url = https://github.com/LANCommander/LANCommander.Redistributables.OpenALSoft.git
[submodule "LANCommander.Redistributables.UmuLauncher"]
	path = LANCommander.Redistributables.UmuLauncher
	url = https://github.com/LANCommander/LANCommander.Redistributables.UmuLauncher.git
[submodule "LANCommander.Redistributables.dgVoodoo2"]
	path = LANCommander.Redistributables.dgVoodoo2
	url = https://github.com/LANCommander/LANCommander.Redistributables.dgVoodoo2.git
