[submodule "LANCommander.Redistributables.OpenALSoft"]
	path = LANCommander.Redistributables.OpenALSoft
	url = https://github.com/LANCommander/LANCommander.Redistributables.OpenALSoft.git
[submodule "LANCommander.Redistributables.UmuLauncher"]
	path = LANCommander.Redistributables.UmuLauncher
	url = https://github.com/LANCommander/LANCommander.Redistributables.UmuLauncher.git
[submodule "LANCommander.Redistributables.dgVoodoo2"]
	path = LANCommander.Redistributables.dgVoodoo2
	url = https://github.com/LANCommander/LANCommander.Redistributables.dgVoodoo2.git
[submodule "LANCommander.Redistributables.DOSBox-X"]
	path = LANCommander.Redistributables.DOSBox-X
	url = https://github.com/LANCommander/LANCommander.Redistributables.DOSBox-X.git
[submodule "LANCommander.Redistributables.VisualCppV14"]
	path = LANCommander.Redistributables.VisualCppV14
	url = https://github.com/LANCommander/LANCommander.Redistributables.VisualCppV14.git
[submodule "LANCommander.Redistributables.VisualCppV12"]
	path = LANCommander.Redistributables.VisualCppV12
	url = https://github.com/LANCommander/LANCommander.Redistributables.VisualCppV12.git
[submodule "LANCommander.Redistributables.VisualCppV11"]
	path = LANCommander.Redistributables.VisualCppV11
	url = https://github.com/LANCommander/LANCommander.Redistributables.VisualCppV11.git
[submodule "LANCommander.Redistributables.VisualCppV10"]
	path = LANCommander.Redistributables.VisualCppV10
	url = https://github.com/LANCommander/LANCommander.Redistributables.VisualCppV10.git
